option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: false
    PORT: 8080
    NODE_OPTIONS: "--max-old-space-size=4096"
    NEXT_TELEMETRY_DISABLED: 1
    NEXT_SHARP_PATH: "/var/app/current/node_modules/sharp"
    NEXT_PUBLIC_BASE_URL: "https://blimpify.com"
  
  # Optimera instansen
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    RootVolumeType: gp3
    RootVolumeSize: 20
  
  # Optimera hälsokontroller
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health 