files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/nextjs-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/logs/nextjs*.log
      /var/app/current/logs/error*.log
      /var/app/current/logs/access*.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/nextjs-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/logs/nextjs*.log
      /var/app/current/logs/error*.log
      /var/app/current/logs/access*.log

commands:
  01_create_log_dir:
    command: "mkdir -p /var/app/current/logs"
    ignoreErrors: true 