files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49_set_node_command.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo 'export NODE_OPTIONS="--max-old-space-size=4096"' >> /opt/elasticbeanstalk/deployment/env
      echo 'export NPM_CONFIG_UNSAFE_PERM=true' >> /opt/elasticbeanstalk/deployment/env

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx 